.btn-success:active{
    background-color: #11613c;
}

.btn-success:hover{
    background-color: #198754;
}

.btn-danger:active{
    background-color: #972531;
}

.btn-danger:hover{
    background-color: #dc3545;
}

.btn-danger{
    display: none;
}

li:hover .btn-danger{
    display: inline-block;
}

ul{
    list-style-type: none;
    margin-top: 1rem;
}

ul li{
    border: 1px solid rgba(128, 128, 128, 0.3);
    width: 50%;
    margin:auto;
    display: flex;
    padding:10px 0;
}

ul li span, ul li div{
    width: 50%;
}

ul li span{
    padding:10px 0 10px 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}

ul li:nth-child(odd){
    background-color: rgba(0, 0, 255, 0.1);
}

.title{
    font-size: 6rem;
}

input{
    padding-left: 2%;
}